html {
    background-color: #F4F4F4;
        font-family: Arial, Helvetica, sans-serif;
}

body {
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
    margin: 0;
}

section {
    text-align: center;
}

header {
    text-align: center;
}

nav {
    background-color: #b0b0b0;
    padding: 15px;
}

nav a {
    display: inline-block;
    margin: 0 2rem;
    font-size: clamp(16px, 1.5vw, 24px);
    padding: 40px;
    text-decoration: none;
    border-radius: 100px;
}

nav a:hover {
    background-color: #000000;
    color: white;
}


.cool-title {
    font-size: 5vw;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #222;
    text-shadow: 3px 3px 0px #b8c0ff;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.dark-mode {
  background-color: #111;
  color: white;
}

div a {
    margin: .5rem;
}

section {
    text-align: center;
}

footer {
    text-align: center;
}

ul {
    list-style-position: inside;
}

body header nav a {
    padding: 10px;
}